/*
*Add fonts
*Add buttons for changing fonts
*Add Dark Mode
*Add Reset Button
*Sort any content Alphabetically?
*buttons text grow with a strike

*/

* {
    margin: 5px;
}

html{
background-color: rgb(0, 172, 230);
font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(173, 216, 230); /*lightblue*/
    border-radius: 7px;
    margin: 0.5% auto;
    padding: 0.5%;
    border: 2px solid black;
    margin-bottom: 25px;
    width: 90%;
    position: relative;
}

header::after {
    content: ''; /* Add content */
    position: absolute;
    top: 12.5%; /* Adjusted top position */
    right: -0.5%; /* Adjusted right position */
    width: 100%; /* Specify width */
    height: 100%; /* Specify height */
    background-color: red;
    border-radius: 7px; /* Make it circular */
    z-index: -1; /* Ensure it's above the header's background */
    border: 0.5px solid black;
}

header > h2, header > nav, nav > ul > li   {
display: inline-block;
}


/* Below done via:  https://dev.to/afif/css-shapes-with-rounded-corners-56h */
.profile-pic {
    width: 33%; 
    height: 33%; 
    display: inline-block;
    background-color: ;
    padding: 0;
    margin: 20px;
    filter: url(#round); 
    position: relative;
    overflow: hidden; 
}

.profile-pic::before {
    content: '';
    display: block;
    padding-top: 100%; /* Maintain a square aspect ratio */
    background: url(./assets/profilePhoto.jpeg) center/cover; 
   /*   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); Diamond  */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Hexagon */
    transform: scale(0.75); /* Adjust image and keep ratio */
}

/* Above done via: https://dev.to/afif/css-shapes-with-rounded-corners-56h */

.mainHP{
    display: flex;
    align-items: center;
    background-color: ;
    margin-right: 10%;
}

.mainHP > * {
    flex: 1; /* Allow items to grow and fill available space */
    margin: 10px;
}

.AMintroduction{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 7px;
    padding:  1.5% 5%;
}

